<header>
    <div class="container">
        <div class="flex-row">
            <h1 class="logo">eWebShop</h1>

            <nav>
                <a href="">
                    Главная
                </a>
                <a href="">
                    Товары
                </a>
                <a href="">
                    О магазине
                </a>
                <a href="">
                    Контанты
                </a>
                <a href="">
                    Войти
                </a>
            </nav>
        </div>
        
    </div>
</header>